
body {
  margin: 0;
  padding: 0;
}

.map {
  width: 100%;
  height: calc(100vh - 40px); 
}

.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

style.background {
  background: "linear-gradient(to right, white, #96c93d)",
}